- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.
  .form-group
    = text_input f, :username, class: "form-control", placeholder: "username"
    = error_tag f, :username
  .form-group
    = text_input f, :email, class: "form-control", placeholder: "email"
    = error_tag f, :email
  .form-group
    = password_input f, :password, class: "form-control", placeholder: "password"
    = error_tag f, :password
  .form-group
    = password_input f, :password_confirmation, class: "form-control", placeholder: "confirm password"
    = error_tag f, :password_confirmation
  .form-group
    = submit "Create account", class: "pa3 f4 br2 bg-white ba b--black center db w-third mt4"
