- form_for @changeset, @action, fn f ->
  - if f.errors != [] do
    .red
      %p Oops, something went wrong! Please check the errors below:
      %ul
        - for {attr, message} <- f.errors do
          %li
            = humanize(attr)
            = message
  .form-group
    = text_input f, :username, placeholder: "Username", class: "br2 ba b--silver pa3 tc w-100 mv1"
    = password_input f, :password, placeholder: "Password", class: "br2 ba b--silver pa3 tc w-100 mv1"
    = submit "Submit", class: "pa3 f4 br2 bg-white ba b--black center db w-third mt4"
